<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Partnership</th>
      <th>Employees</th>
      <th>Contractors</th>
      <th>Business type</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.full_name %></td>
        <td><%= company.email %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.partnership %></td>
        <td><%= company.employees %></td>
        <td><%= company.contractors %></td>
        <td><%= company.business_type %></td>
        <td><%= company.location %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
